<!DOCTYPE html>
<html>
<head>
  <title>Optimizely + Twilio Full Stack</title>
  <link rel="stylesheet" href="https://oui.cdn.optimizely.com/23.0.0/oui.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/styles/main.css">
</head>
<body class="" style="color:white;">
  <div id="content" class="lego-grid background--brand container-fluid">
    <div class="lego-grid__cell">
      <div class="main">
        <div class="logo anchor--middle width--1-4 text--center">
          <img src="assets/images/owm-white.svg" style="margin: auto; height: 18em;">
        </div>
        <div class="lego-grid__cell push--ends width--1 text--center">
          <h1>Join the experiment.</h1>  
        </div>
        <div class="lego-grid__cell push--ends width--1 text--center">
          <h2>Text 'Hello' to <a href="sms:6784030580" class="number">678-403-0580</a></h2>
          <p>You'll receive a variation of a Full Stack experiment </p>
        </div>
      </div>
      <div class="container">
        <div class="icons row" style="padding-top:2em;">
          <div class="col-sm-6 col-sm-offset-3">
            <div class="col-xs-2">
              <img src="assets/images/laptop-icon.png">  
            </div>
            <div class="col-xs-2">
              <img src="assets/images/iphone-icon.png">
            </div>
            <div class="col-xs-2">
              <img src="assets/images/server-icon.png">
            </div>
            <div class="col-xs-2">
              <img src="assets/images/watch-icon.png">
            </div>
            <div class="col-xs-2">
              <img src="assets/images/mail-icon.png">
            </div>
            <div class="col-xs-2">
              <img src="assets/images/tv-icon.png">
            </div>  
          </div>
        </div> 
      </div> 
      <div class="sms__container" style="">
        <div class="container">
          <div class="row" style="">
            <div class="col-xs-12">
              <h2 style="text-align:center;">SMS Experiment using Twilio</h2>
            </div>
            <div class="col-sm-4 shadow-box">
              <h3 class="variation--title">Variation #1</h3>
              <img src="assets/images/variation_one.png" class="variation--img">
              <!-- <p>Hello! Do you want to view the code from this demo app? If so, respond with Yes</p> -->
            </div>
            <div class="col-sm-4 shadow-box">
              <h3 class="variation--title">Variation #2</h3>
              <img src="assets/images/variation_two.png" class="variation--img">
              <!-- Hello! You should view the code from this demo. If so, respond with Yes -->
            </div>
            <div class="col-sm-4 shadow-box">
              <h3 class="variation--title">Variation #3</h3>
              <img src="assets/images/variation_three.png" class="variation--img">
              <!-- Hello, DON'T MISS OUT! View the code from this demo now. If so, respond with Yes -->
            </div>
          </div>
        </div>
      </div>
      <div class="get-started__container">
        <div class="container">
          <div class="col-xs-12 get-started-cta">
            <h3>Let's get started. Where will you experiment with Optimizely X Full Stack?</h3>
          </div>
          <div class="col-sm-3">
            <a href="https://github.com/optimizely/fullstack-outbound-marketing" class="button red-btn" target="_blank">View the code</a>
          </div>
          <div class="btn__container">
            <div class="col-sm-3">
              <a href="https://developers.optimizely.com/x/solutions/sdks/reference/?language=python" class="button green-btn" target="_blank">Learn more</a>
            </div>
          </div>
          <div class="btn__container">
            <div class="col-sm-3">
              <a href="https://www.optimizely.com/get-started/" class="button blue-btn" target="_blank">Try it free</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>