<!DOCTYPE html>
<html>
<head>
  <title>Optimizely + Twilio Full Stack</title>
  <link rel="stylesheet" href="https://oui.cdn.optimizely.com/23.0.0/oui.css">
  <link rel="stylesheet" type="text/css" href="assets/styles/main.css">
</head>
<body class="background--brand" style="height:100vh; color:white;">
  <div class="lego-grid">
    <div class="lego-grid__cell anchor--middle width--1-2 text--center">
      <div class="logo">
        <img src="assets/images/owm-white.svg">
      </div>
      <div>
        <h1>Join the experiment.</h1>  
      </div>
      <div>
        <h2>Text 'Hello' to <a href="sms:6784030580" class="number">678-403-0580</a></h2>
      </div>
      <div class="icons lego-grid">
        <div class="lego-grid__cell">
          <img src="assets/images/laptop-icon.png">  
        </div>
        <div class="lego-grid__cell">
          <img src="assets/images/iphone-icon.png">
        </div>
        <div class="lego-grid__cell">
          <img src="assets/images/android-icon.png">
        </div>
        <div class="lego-grid__cell">
          <img src="assets/images/server-icon.png">
        </div>
        <div class="lego-grid__cell">
          <img src="assets/images/watch-icon.png">
        </div>
        <div class="lego-grid__cell">
          <img src="assets/images/mail-icon.png">
        </div>
        <div class="lego-grid__cell">
          <img src="assets/images/tv-icon.png">
        </div>
      </div>
    </div>
  </div>
</body>
</html>